{% extends 'base.html' %}

{% block content %}
    <h2>Lista de sedes</h2>
    <a href="{% url 'sedes_create' %}" class="btn btn-primary mb-3">Crear sede</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>Direccion</th>
                <th>Region</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for s in sedes %}
            <tr>
                <td>{{ s.cod_sede }}</td>
                <td>{{ s.name }}</td>
                <td>{{ s.city }}</td>
                <td>{{ s.direct }}</td>
                <td>{{ s.reg.name }}</td>
                <td>
                    <a href="{% url 'sedes_edit' s.pk %}" class="btn btn-sm btn-primary">Editar</a>
                    <a href="{% url 'sedes_delete' s.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}