{% extends 'base.html' %}

{% load form_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mb-4">Bienvenido al sistema</h2>
        <p>Por favor inicia sesión para acceder.</p>
        <h2 class="mb-4">Mision</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur culpa provident quidem non impedit quia quam blanditiis aperiam assumenda. Dolorem eveniet, quia doloribus hic corrupti amet totam enim ex cupiditate nam voluptas tempora itaque quibusdam molestiae tempore laborum voluptatem saepe eligendi quisquam? Cumque alias incidunt laboriosam consequuntur voluptate dolore blanditiis fuga rem quia, hic deserunt ea. Aut, aperiam eaque dolore animi omnis vero dolorem esse nostrum quisquam quod est odit harum. Vero, necessitatibus ea nesciunt eos, magni iste voluptatibus amet veritatis repellat sunt ratione quo neque adipisci optio soluta eum voluptatem. Deleniti ad quasi quibusdam voluptate consectetur soluta! Eveniet, sequi.</p>
        <h2 class="mb-4">Vision</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia exercitationem a dignissimos vel consequatur corporis nesciunt perferendis delectus maxime distinctio eaque earum totam, sed corrupti et laborum voluptate illum eligendi neque vero reprehenderit fuga nulla sunt. Quam quibusdam adipisci sunt exercitationem omnis necessitatibus earum dolorum ipsa quos, ipsum quisquam a reprehenderit itaque officiis, blanditiis veritatis quia! Deleniti iure quisquam rerum autem velit tempora praesentium impedit reiciendis ex obcaecati. Eum dolorum dolores aut facilis nulla explicabo quaerat, non in quae harum modi nisi perferendis minima veritatis distinctio corporis amet tempore iure. Dolores, veniam quaerat dolorem quod saepe velit nisi. Rem, fuga.</p>
</div>
{% endblock %}