{% extends 'base.html' %}

{% block content %}
    <h2>Lista de mobiliarios</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha de adquisicion</th>
                <th>Numero de placa</th>
                <th>Precio</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody>
            {% for m in mobiliaries %}
            <tr>
                <td>{{ m.name }}</td>
                <td>{{ m.desc }}</td>
                <td>{{ m.ad_date }}</td>
                <td>{{ m.num_placa_almacen }}</td>
                <td>${{ m.price }}</td>
                <td>{{ m.cat.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}